html {
	font-size: 12px;
	margin-top: 0px;
	padding-top: 0px;
}

header {
	color: white;
	background-color: grey;
	border-top: solid black 5px;
	padding-left: 10px;
}

section {
	background-color: grey;
	color: white;
	margin-left: 375px;
	margin-right: 375px;
	/*padding: 10px 5px 10px 5px;*/
	padding-left: 25px;
	display: flex;

}

span {
	padding-left: 250px;
	display: block;
	position: relative;
	float: right;
}

p {
	display: block;
}

#accordian {
	text-align: center;
	margin-top: 75px;
}

